extends base.pug

block scripts 
    script(src="../static/index.js") 

block style 
    style
        include ../static/about.css

block content
    div.container
        div.about-doctor
            div.doc1
                img(src="../static/doc.jpg", alt="doctor")
                div.doc-name
                    h1 Dr. Sandeep Budhiraja
                    h3 Neurologist Specialist
                    p MBBS - All India Institute of Medical Sciences, New Delhi - 2005 
                    p MS - Orthopaedics - AIIMS, New Delhi - 2008
                    p FNB - Spine Surgery - Hinduja Hospital, Mumbai - 2011
                    p Fellow in Spine Surgery - University of Calgary, Canada - 2013
                    p Fellowship In Paediatric Spine Surgery - Children's Hospital Westmead, Sydney , Australia - 2013
                    


        div.about-doctor
            div.doc1
                div.doc-name
                    h1 Dr. Sonali Thakre
                    h3 Orthopedic Doctor
                    p MBBS - All India Institute of Medical Sciences, New Delhi - 2005 
                    p MS - Orthopaedics - AIIMS, New Delhi - 2008
                    p FNB - Spine Surgery - Hinduja Hospital, Mumbai - 2011
                    p Fellow in Spine Surgery - University of Calgary, Canada - 2013
                    p Fellowship In Paediatric Spine Surgery - Children's Hospital Westmead, Sydney , Australia - 2013
                img(src="../static/doc1.jpg", alt="doctor")

        div.about-doctor
            div.doc1
                img(src="../static/doc2.jpg", alt="doctor")
                div.doc-name
                    h1 Mr. Sanjay Singh
                    h3 Dermatology
                    p MBBS - All India Institute of Medical Sciences, New Delhi - 2005 
                    p MS - Orthopaedics - AIIMS, New Delhi - 2008
                    p FNB - Spine Surgery - Hinduja Hospital, Mumbai - 2011
                    p Fellow in Spine Surgery - University of Calgary, Canada - 2013
                    p Fellowship In Paediatric Spine Surgery - Children's Hospital Westmead, Sydney , Australia - 2013
                
        div.about-doctor
            div.doc1
                div.doc-name
                    h1 Mr. Bupendra Chauhan
                    h3 ENT Specialist
                    p MBBS - All India Institute of Medical Sciences, New Delhi - 2005 
                    p MS - Orthopaedics - AIIMS, New Delhi - 2008
                    p FNB - Spine Surgery - Hinduja Hospital, Mumbai - 2011
                    p Fellow in Spine Surgery - University of Calgary, Canada - 2013
                    p Fellowship In Paediatric Spine Surgery - Children's Hospital Westmead, Sydney , Australia - 2013
                img(src="../static/doc3.jpg", alt="doctor")