extends base.pug

block scripts 
    script(src="../static/index.js") 

block style 
    style
        include ../static/appointment.css

block content 
    div.appointment
        div.appointment-container
            div.container-section
                img(src="../static/doc.jpg", alt="")
                div.docdetail
                    h1 Dr. Sandeep Budhiraja
                    h2 Neurologist Specialist
                    span Senior Director & HOD , Department of Dental & Maxillofacial Surgery, Max Multispeciality Hospital, Noida

            div.container-section1
                span Max Hospital, Noida - Consultation Fee: ₹ 700
                div.time-book
                    span 10:00 AM- 02:00 PM
                    button Book Appointment
            
        


        div.appointment-container
            div.container-section
                img(src="../static/doc1.jpg", alt="")
                div.docdetail
                    h1 Dr. Sonali Thakre
                    h2 Orthopedic Doctor
                    span Director - Orthodontics and Dentofacial Orthopaedics, Department of Dental & Maxillofacial Surgery, Max Multispeciality Hospital, Noida

            div.container-section1
                span Max Hospital, Panchsheel Park - Consultation Fee: ₹ 1000
                div.time-book
                    span 11:00 AM- 03:00 PM
                    button Book Appointment

            
        


        div.appointment-container
            div.container-section
                img(src="../static/doc2.jpg", alt="")
                div.docdetail
                    h1 Mr. Sanjay Singh
                    h2 Dermatology
                    span Consultant – M.D.S, Endodontics, Restorative Dentistry

            div.container-section1
                span Max Hospital, Jangle Khadi - Consultation Fee: ₹ 1000
                div.time-book
                    span 09:00 AM- 04:00 PM
                    button Book Appointment
        


        div.appointment-container
            div.container-section
                img(src="../static/doc3.jpg", alt="")
                div.docdetail
                    h1 Mr. Bupendra Chauhan
                    h2 ENT Specialist
                    span Consultant- MDS Prosthodontics, Crown and Bridge, Oral Implantology

            div.container-section1
                span Max Hospital, Nehru Marg - Consultation Fee: ₹ 1000
                div.time-book
                    span 09:00 AM- 03:00 PM
                    button Book Appointment
            
        
        